{% extends 'blogs/base.html' %}


{% block filter_form %}
<div>
<form action="{% url 'author_posts' author.user.username %}" method="get">
    From: <input type="date" name="start_date"
        value="{{ request.GET.start_date }}">
    To: <input type="date" name="end_date"
        value="{{ request.GET.end_date }}">
    <button type="submit">Filter by date</button>
</form>
</div>
{% endblock filter_form %}


{% block content %}

<h1>{{ author.user.username }}'s all articles</h1>

<ul>
    {% for post in posts %}
    <li>
        <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
        <p>Post-Date: {{ post.date_created }}</p>
        <p>{{ post.content|truncatechars:100 }}</p>
        
    </li>
    {% empty %}
    <li>No articles.</li>
    {% endfor %}
</ul>

{% if posts.paginator.num_pages > 1 %}
    <div>
        {% if posts.has_previous %}
            
            <a href="?start_date={{ request.GET.start_date }}&end_date={{ request.GET.end_date }}&page={{ posts.previous_page_number }}">Previous</a>
        {% else %}
            <span>Previous</span>
        {% endif %}

        {% if posts.paginator.num_pages <= 6 %}
            {% for num in posts.paginator.page_range %}
                {% if posts.number == num %}
                    <span><strong>{{ num }}</strong></span>
                {% else %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
        {% else %}
            {% if posts.number > 3 %}
                <a href="?page=1">1</a>
                <span>...</span>
            {% endif %}
            {% for num in posts.paginator.page_range %}
                {% if num >= posts.number|add:"-3" and num <= posts.number|add:"3" %}
                    {% if posts.number == num %}
                        <span><strong>{{ num }}</strong></span>
                    {% else %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if posts.number < posts.paginator.num_pages|add:"-2" %}
                <span>...</span>
                <a href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}
        
        {% if posts.has_next %}
            
            <a href="?start_date={{ request.GET.start_date }}&end_date={{ request.GET.end_date }}&page={{ posts.next_page_number }}">Next</a>
        {% else %}
            <span>Next</span>
        {% endif %}
        <form method="GET" action="{% url 'author_posts' author.user.username %}">
            <input type="hidden" name="start_date" value="{{ request.GET.start_date }}">
            <input type="hidden" name="end_date" value="{{ request.GET.end_date }}">
            <input type="number" id="go_to_page" name="page" min="1" max="{{ posts.paginator.num_pages }}" required>
            <button type="submit">Go</button>
        </form>
    </div>
{% endif %}


{% endblock content %}