{% extends 'blogs/base.html' %}

{% block content %}



<h1>All blogs</h1>


<body>

<ul>
{% for post in posts %}
    <li>
        <h2>Title: <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>Author: <a href="{% url 'author_posts' username=post.author.user.username %}">{{ post.author.user.username }}</a></p>
        <p>Post-Date：{{ post.date_created }}</p>
        <p>Content: {{ post.content|slice:":50"| safe }}{% if post.content|length > 50 %}...{% endif %}</p>
   
    </li>
{% empty %}
    <li>No articles.</li>
{% endfor %}
</ul>

{% if posts.paginator.num_pages > 1 %}
    <div style="margin-left: 50px;">
        <a href="?start_date={{ request.GET.start_date }}&end_date={{ request.GET.end_date }}&page=1">First Page</a>
        &nbsp;&nbsp; 
        {% if posts.has_previous %}
            <a href="?start_date={{ request.GET.start_date }}&end_date={{ request.GET.end_date }}&page={{ posts.previous_page_number }}">Previous</a>
        {% else %}
            <span>Previous</span>
        {% endif %}
        &nbsp;&nbsp; 

        {% for num in posts.paginator.page_range %}
            {% if num >= posts.number|add:"-4" and num <= posts.number|add:"3" %}
                {% if posts.number == num %}
                    <span><strong>{{ num }}</strong></span>
                {% else %}
                    <a href="?start_date={{ request.GET.start_date }}&end_date={{ request.GET.end_date }}&page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}

        &nbsp;&nbsp; 
        {% if posts.has_next %}
            <a href="?start_date={{ request.GET.start_date }}&end_date={{ request.GET.end_date }}&page={{ posts.next_page_number }}">Next</a>
        {% else %}
            <span>Next</span>
        {% endif %}
        &nbsp;&nbsp; 
        <form method="GET" style="display: inline;">
            <input type="hidden" name="start_date" value="{{ request.GET.start_date }}">
            <input type="hidden" name="end_date" value="{{ request.GET.end_date }}">
            <input type="number" id="go_to_page" name="page" min="1" max="{{ posts.paginator.num_pages }}" required style="width: 50px;">
            <button type="submit">Go</button>
        </form>
        &nbsp; 
        <a href="?start_date={{ request.GET.start_date }}&end_date={{ request.GET.end_date }}&page={{ posts.paginator.num_pages }}">Last Page</a>
    </div>
{% endif %}

{% endblock content %}

</body>
