<!-- <style>
    button a {
        text-decoration: none; 
        color: inherit; 
    }
</style>
<h2>Are you sure you want to delete this post?</h2>
<form action="" method="POST">
    {% csrf_token %}
    <button type="submit">Yes</button>
    <button><a href="{% url 'post_detail' post.id %}">No</a></button>
</form> -->

<turbo-frame id="delete_frame">
    <style>
        button a {
            text-decoration: none; 
            color: inherit; 
        }
    </style>
    <h2>Are you sure you want to delete this post?</h2>
    
    <!-- action="" means submit the form to the current page -->
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit">Yes</button>
        <button><a href="{% url 'post_detail' post.id %}">No</a></button>
    </form>
</turbo-frame>
